# ignore assets
(assets)/
(db)/*
!(db)/ee-skeleton.sql

# ignore node dependency directories
node_modules/

# ignore env specific files
/.htaccess
#config/config.local.php

# ignore for ee
system/expressionengine/cache/*
!system/expressionengine/cache/index.html
system/user/cache/*

# ignore log files
*.log
*.DS_Store
